[Unit]
Description=Setup GnuPG directory
Wants=network-online.target
Before=gpg-agent.service gpg-agent.socket

[Service]
Type=oneshot
ExecStart=/usr/libexec/grand-os/gpg-agent-setup
