[Desktop Entry]
Type=Application
Name=System Update
Comment=Update GrandOS, Flatpaks, Homebrew formulas, and more.
Icon=update
Categories=ConsoleOnly;System;
Terminal=true
Exec=bash -i -c "/usr/bin/topgrade --config=/usr/share/system-update/topgrade.toml" || read -p "Update failed!"
