[Unit]
Description=GnuPG cryptographic agent and passphrase cache for %U.
Documentation=man:gpg-agent(1)
ConditionPathExists=${GPG_SOCKET_DIR}
ConditionPathIsReadWrite=${GPG_SOCKET_DIR}

[Socket]
ListenStream=${GPG_SOCKET_DIR}/S.gpg-agent
FileDescriptorName=std
Service=gpg-agent.service
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
