[Unit]
Description=GnuPG cryptographic agent (ssh-agent emulation) for %U.
Documentation=man:gpg-agent(1) man:ssh-add(1) man:ssh-agent(1) man:ssh(1)
ConditionPathExists=${GPG_SOCKET_DIR}
ConditionPathIsReadWrite=${GPG_SOCKET_DIR}

[Socket]
ListenStream=${GPG_SOCKET_DIR}/S.gpg-agent.ssh
FileDescriptorName=ssh
Service=gpg-agent.service
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
