[Unit]
Description=GnuPG cryptographic agent and passphrase cache for %u
Documentation=man:gpg-agent(1)

[Service]
ExecStartPre=sleep 5s
ExecStart=/usr/bin/gpg-agent --supervised
ExecReload=/usr/bin/gpgconf --reload gpg-agent

[Install]
WantedBy=gpg-agent.socket
