[Unit]
Description=Harden flatpak apps for current user
Wants=network-online.target
After=user-flatpak-setup.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/grand-os/flatpak-harden
