# yaml-language-server: $schema=https://schema.blue-build.org/module-list-v1.json

modules:
  # Apply file-based customization.
  - type: "files"
    files:
      - source: "./customization/default-application"
        destination: "/"

  # Install dnf package and remove unused dnf package.
  - type: "dnf"
    repos:
      cleanup: true
      files:
        - "https://repo.secureblue.dev/secureblue.repo"
    install:
      packages:
        - "firewall-config"
        - "flatseal"
        - "gnome-tweaks"
        - "sushi"
        - "trivalent"
      install-weak-deps: false
      skip-unavailable: false
      skip-broken: false
      allow-erasing: false
    remove:
      packages:
        - "fedora-chromium-config"
        - "fedora-chromium-config-gnome"
        - "fedora-flathub-remote"
        - "fedora-third-party"
        - "firefox"
        - "fuse"
        - "gnome-disk-utility"
        - "gnome-remote-desktop"
        - "gnome-software-rpm-ostree"
        - "gnome-system-monitor"
        - "gnome-tour"
        - "gnome-user-share"
        - "httpd"
        - "libvncserver"
        - "passim"
        - "toolbox"
        - "yelp"
      auto-remove: true

  # Install proprietary libraries provided by dnf package.
  # Copyright: 2025 The Secureblue Authors
  # License: Apache License 2.0
  # Upstream: https://github.com/secureblue/secureblue/blob/live/recipes/common/proprietary-modules.yml
  - type: "dnf"
    repos:
      cleanup: false
      files:
        - "https://negativo17.org/repos/fedora-multimedia.repo"
    install:
      packages:
        - "ffmpegthumbnailer"
        - "heif-pixbuf-loader"
        - "libopenjph"
        - "pipewire-libs-extra"
        - "rar"
    remove:
      packages:
        - "totem-video-thumbnailer"
      auto-remove: false
    replace:
      - from-repo: "fedora-multimedia"
        packages:
          - "gstreamer1-plugin-libav"
          - "intel-gmmlib"
          - "intel-mediasdk"
          - "libheif"
          - "libva-intel-media-driver"
          - "libva"
          - "mesa-dri-drivers"
          - "mesa-filesystem"
          - "mesa-libEGL"
          - "mesa-libgbm"
          - "mesa-libGL"
          - "mesa-va-drivers"
          - "mesa-vulkan-drivers"
          - old: "ffmpeg-free"
            new: "ffmpeg"
          - old: "fdk-aac-free"
            new: "libfdk-aac"
          - old: "gstreamer1-plugins-ugly-free"
            new: "gstreamer1-plugins-ugly"
          - old: "libavcodec-free"
            new: "libavcodec"
          - old: "libavdevice-free"
            new: "libavdevice"
          - old: "libavfilter-free"
            new: "libavfilter"
          - old: "libavformat-free"
            new: "libavformat"
          - old: "libavutil-free"
            new: "libavutil"
          - old: "libpostproc-free"
            new: "libpostproc"
          - old: "libswresample-free"
            new: "libswresample"
          - old: "libswscale-free"
            new: "libswscale"
        install-weak-deps: false
        skip-unavailable: false
        skip-broken: false
        allow-erasing: false

  # Enable flatpak user repository and disable flatpak default repository.
  - type: "default-flatpaks@v2"
    configurations:
      - scope: "user"
        repo:
          url: "https://dl.flathub.org/repo/flathub.flatpakrepo"
          name: "flathub"
          title: "Flathub"
        install:
          - "io.missioncenter.MissionCenter"
          - "org.gnome.Decibels"
          - "org.gnome.Logs"
          - "org.gnome.Loupe"
          - "org.gnome.Papers"
          - "org.gnome.Showtime"
          - "org.gnome.TextEditor"
        notify: false
  - type: "script"
    snippets:
      - "rm -f /usr/lib/systemd/system/flatpak-add-fedora-repos.service"

  # Install homebrew.
  - type: "brew"
    auto-update: false
    auto-upgrade: false
    brew-analytics: false

  # Apply script-based customization.
  - type: "script"
    snippets:
      # Force GTK3 to trivalent.
      - "sed
        --expression='s|Exec=/usr/bin/trivalent %U|Exec=/usr/bin/trivalent --gtk-version=3 %U|g'
        --expression='s|Exec=/usr/bin/trivalent --incognito %U|Exec=/usr/bin/trivalent --gtk-version=3 --incognito %U|g'
        --in-place /usr/share/applications/trivalent.desktop
        "

  # Enable systemd units.
  - type: "systemd"
    user:
      enabled:
        - "flatpak-bundle-setup.timer"
        - "flatpak-override-setup.timer"
        - "gpg-agent.socket"
