[Unit]
Description=Install Flatpak bundles
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/grand-os/flatpak-bundle-install
