[Unit]
Description=GnuPG cryptographic agent and passphrase cache for %u
Documentation=man:gpg-agent(1)

[Socket]
ListenStream=${GPG_SOCKET_DIR}/S.gpg-agent
FileDescriptorName=std
Service=gpg-agent.service
SocketMode=0600
DirectoryMode=0700

[Install]
WantedBy=sockets.target
