[Desktop Entry]
Type=Application
Name=System Update
Comment=Update grand-os, Flatpaks, Homebrew formulas, and more.
Icon=update
Categories=ConsoleOnly;System;
Terminal=true
Exec=env CONFIG_DIR=/usr/share/topgrade /usr/bin/topgrade
