name: "Check (GitHub Actions)"

on:
  pull_request:
    types:
      - "ready_for_review"
      - "review_requested"
    paths:
      - ".github/**/*.yaml"
  push:
    branches:
      - "main"
    paths:
      - ".github/**/*.yaml"

jobs:
  lint:
    name: "Lint"
    runs-on: "ubuntu-latest"

    permissions:
      checks: "write"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # v6.0.0

      - name: "Setup mise and devtools"
        uses: "jdx/mise-action@be3be2260bc02bc3fbf94c5e2fed8b7964baf074" # v3.4.0

      - name: "Setup reviewdog"
        uses: "reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252" # v1.4.0

      - name: "Lint"
        env:
          REVIEWDOG_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          set -o "errexit" -o "nounset"

          mise run lint:github-action --format="oneline" \
          | reviewdog \
            --efm="%f:%l:%c: %m" \
            --name="Lint result (actionlint)" \
            --reporter="github-check"
