name: "Check (Containerfile)"

on:
  pull_request:
    types:
      - "ready_for_review"
      - "review_requested"
    paths:
      - ".github/workflows/check-containerfile.yaml"
      - "**/Containerfile"
  push:
    branches:
      - "main"
    paths:
      - "**/Containerfile"

jobs:
  lint:
    name: "Lint"
    runs-on: "ubuntu-latest"

    permissions:
      checks: "write"

    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

      - name: "Setup mise and devtools"
        uses: "jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5" # v3.5.1

      - name: "Setup reviewdog"
        uses: "reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f" # v1.5.0

      - name: "Lint"
        env:
          REVIEWDOG_GITHUB_API_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          set -o "errexit" -o "nounset"

          find . -type "f" -name "Containerfile" \
            -exec mise run lint:container --format="sarif" {} + \
          | reviewdog \
            -f="sarif" \
            --name="Lint result (hadolint)" \
            --reporter="github-check"
